<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Restautant Menu Application</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


		
				<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

		<!-- main content starts here -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
				<a class="navbar-brand" href="{{url_for('showRestaurants')}}">RMS</a>
			</div>
		</nav>
		<div class="container">
			<div class="page-header">
			  <h1>Delete Restaurant</h1>
			</div>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<div class="flash">
			{% for msg in messages %}
				<div class="alert alert-success flash" role="alert">{{msg}}</div>
			{% endfor %}
			</div>
			{% endif %}
			{% endwith %}

			<div class="row">
				<div class="col-xs-12 col-md-6">
					<form action="{{url_for('deleteRestaurant', restaurant_id = restaurant.id)}}" method="POST">
						<div class="form-group">
							<label>Do you really want to delete {{ restaurant.name }} ?</label>
						</div>
						<input type="submit" value="Delete" class="btn btn-primary">
						<a class="btn btn-default" href="{{url_for('showRestaurants')}}">Cancel</a>
					</form>

				</div>
			</div>
		</div>

		
	</body>
</html>